<div class="row mb-4 px-3">
    <h1 class="mb-0 mr-1 mt-2">Register</h1>
</div>
<form class="form-horizontal" action='addregister' method="POST">

    <div class="row px-3">
        <label class="mb-1">
            <h6 class="mb-0 text-sm">Name</h6>
        </label>
        <input class="mb-4" type="text" name="name" placeholder="Enter a FirstName">
    </div>
   

    <div class="row px-3">
        <label class="mb-1">
            <h6 class="mb-0 text-sm">Email Address</h6>
        </label>
        <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address">
    </div>
    

    <div class="row mb-3 px-3">
        <button type="submit" class="btn btn-blue text-center mt-1">Register</button>
    </div>
    
    </div>
    </div>
    </div>

    </div>
    </div>

</form>